@import "tailwindcss";

.fee_row {
  @apply p-2 rounded-md grid grid-cols-4 gap-1 items-center bg-gray-200;
  grid-template-columns: 2.5rem 1fr 1rem minmax(5.5rem,auto) auto;
  cursor: pointer;
}
.pay-btn{
    @apply px-3 py-1 bg-green-600 text-white rounded-md;
}

.status{
    @apply inline-block w-3 h-3 rounded-full bg-gray-300;
}
.status-unpaid{
    @apply bg-red-500;
}
.status-partial{
    @apply bg-yellow-500;
}
.status-paid{
    @apply bg-green-500;
}

