@import "tailwindcss";
.student-row {
  @apply p-2 rounded-md gap-2 border border-gray-400;
  display: grid;
  grid-template-columns: auto 1fr auto;
  cursor: pointer;
}
.selected{
    @apply bg-green-100 text-green-800 border-green-600;
}
