@import "../index.css";

.form {
  @apply md:mx-auto border-2 border-border bg-white p-4 rounded-lg flex flex-col items-center;
}
.form_heading {
  @apply text-3xl font-medium;
}
.form_controle{
  @apply flex flex-col w-full gap-1.5;
}
.form_inputs{
  @apply w-full;
}